*.vol
*.ted
!Spy.ted
!Spy.vol

spymodScriptDSC.dsc

# Standard TRIBES maps:
1_Welcome.*
2_Weapons.*
3_Vehicle.*
4_Commander_TargetLaser.*
5_CTF.*
6_Towers.*
7_Retrieval.*
8_Destroy.*
ADishBestServedCold.*
Acrophobia.*
Annihilator.*
AntHill.*
AvalancheMkII.*
Blastside.*
BloodRunsCold.*
BloodyVengeance.*
Broadside.*
CanyonCrusade.*
Citadels.*
CloakOfNight.*
CrissCross.*
DangerousCrossing.*
DarkAurora.*
DeathKnell.*
Death_Row.*
Desert_of_death.*
Domino.*
Emerald_Valley.*
Fallen.*
FogOfWar.*
FourWayDance.*
FreeForAll.*
Full_Force.*
HammerDown.*
Hexbreaker.*
HostageExtract.*
IceRidge.*
KingUnderTheHill.*
LuckySeven.*
Massive_Sides.*
MidnightMayhem.*
Mudslide.*
NewMission.*
NightSlide.*
NoMan'sLand.*
NoQuarter.*
NorthernLights.*
Obfuscation.*
OlympusMons.*
OneSmallStep.*
PeakPerformance.*
Peekaboo.*
Raindance.*
Reliquary.*
Rollercoaster.*
SandStorm.*
SeekAndDestroy.*
Siege.*
Simoom.*
Slipstream.*
Snowblind.*
Spartacus'sGauntlet.*
Stonehenge.*
StrungOut.*
Sulfurious.*
SuperCross_2.*
TempleOfDoom.*
TheLongWalk.*
TheRedSands.*
TripleThreat.*
Turbulence.*
Valhalla.*
scarabrae.*
towers.*